<div  class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <h2 class="page-header">Sorting - basic example</h2>

        </div>
    </div>
    <div class="row">
        <div class="col-xs-8 col-sm-offset-2" ng-controller="demoController as demo">
            <h3>ngTable directive</h3>
            <table ng-table="demo.tableParams" class="table table-condensed table-bordered table-striped">
                <tr ng-repeat="row in $data">
                    <td data-title="'Name'" sortable="'name'">{{row.name}}</td>
                    <td data-title="'Age'" sortable="'age'">{{row.age}}</td>
                    <td data-title="'location'" sortable="'location'">{{row.location}}</td>
                </tr>
            </table>
        </div>

    </div>
</div>